<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fr">
<insert id="save">
    insert into ftable (mid,fid,ffname) values (#{mid},#{fid},#{ffname})
</insert>
    <select id="findall" resultType="fdto">
        select * from ftable where mid=#{mid} order by mtime desc
    </select>

    <update id="mtime">
        update ftable set mtime=#{mtime} where mid=#{mget} and fid=#{mset}
    </update>

    <update id="logc">
        update ftable set logc=1 where fid=#{mid}
    </update>

    <update id="logc2">
        update ftable set logc=1 where fid=#{fid}
    </update>


    <update id="logoutc">
        update ftable set logc=0 where fid=#{mid}
    </update>

    <select id="lcount" resultType="Integer">
        select sum(logc) from ftable where mid=#{mid}
    </select>

    <delete id="delfr">
        delete from ftable where mid=#{mid} and fid=#{fid} or mid=#{fid} and fid=#{mid}
    </delete>


</mapper>














